 body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}
.about-label{
  text-align: center;
  color: #ff7f07;
}

.about-heading-center h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
 
.underline {
  width: 140px;
  height: 1px;
  background-color: #ffc107;
  border-radius: 10px;
  margin: 0 auto;
}

.about-section p {
  font-size: 15px;
  font-weight: 700;
  color: #333;
  margin-bottom: 15x;
  display: flex;
  align-items: flex-start;
  line-height: 1.8;
  text-align: start;
}

.about-section p span.text-success {
  color: #12a853;
  font-size: 16px;
  margin-right: 6px;
}

.custom-corner {
  border-top-left-radius: 90px;
  width: 100%;
}

.col-img-padding {
  padding-right: 0;
  position: relative;
}

.move-img {
  width: 70%;
  height: auto;
}

.logo-img {
  position: absolute;
  top: -20px;
  right: 100px;
  width: 160px;
  background-color: rgb(13, 96, 13);
  padding: 7px 16px;
  border-radius: 10px;
  z-index: 5;
}

@media (max-width: 768px) {
  .logo-img {
    width: 100px;
    top: -15px;
    left: 10px;
  }

  .about-heading-center h3 {
    font-size: 24px;
  }

  .about-section p {
    font-size: 14px;
  }
}